

h2{
    text-align: center;
}

.change{
    border: 2px solid black;
    background-color: darkolivegreen;
    margin-bottom: 40px;
    margin: 50px;
}

#second{
    border: 2px solid black;
    background-color: darksalmon;
    padding: 20px;
}

.link a{
       color: crimson;
       text-decoration: none;
}
.link a:hover{
    color: green;
    text-decoration: underline;
}

.link a:active{
    background-color: chartreuse;
    color: blue;
    text-decoration: none;
}