

.special-text{
    color: darkslateblue;
    text-align: justify;
    text-indent: 50px;
}

h2{
    text-align: center;
    text-transform: capitalize;
    letter-spacing: 3px;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
    text-transform: uppercase;
}