.special-text{
    color: #1a1a1a;
    line-height: 25px;
}

h2{
    text-transform: capitalize;
    letter-spacing: 2px;
    text-align: center;
}

.special-font{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 2em;
    font-style: normal;
    font-weight: lighter;
    font-variant: small-caps;
}

h3{
    font-size: 24px;
}

h4{
    font-size: 20px;
}

body{
    counter-reset: section;
}
h3 ::before{
    counter-reset: subsection;
}
h3 ::before{
    counter-increment: section;
    content: counter(section) '. ' ;
}

h4 ::before{
     counter-increment: section;
     content: counter(section) '. ' counter(subsection) ' ' ;
}