.border{
    border: 2px solid blue;
}

h2{
    text-align: center;
    letter-spacing: 1.5px;
}

.page-top{
    background-color: darkkhaki;
    padding: 10px;
    text-align: center;
    color: #2e2b2b;
}

.page-left{
    background-color: darkred;
    padding: 10px;
    color: #fff;
    width: 75%;
    height: 400px;
    text-align: justify;
}
.page-right{
    background-color: goldenrod;
    padding: 10px;
    text-align: justify;
    color: #000;
    width: 22%;
    height: 400px;
}

body{
    margin: 0;
}

article .content{
       text-align: justify;
}