

.special-text{
    color: #333;
    line-height: 30px;
}
h2{
    text-align: center;
    text-transform: capitalize;
    letter-spacing: 3px;
    text-align: center;
    word-spacing: 15px;
}

.special-font{
   font-family: 'Courier New', Courier, monospace;
   font-size: 2em;
   font-style: italic;
   font-weight: 100;
   font-variant: small-caps;
}